<!-- 328/dating/views/home.html -->

<!-- Home Page -->
<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <div class="row column_row">
        <div class="col">
            <h2 class="text-center pt-5">Animated Virtual Reality Dating Website</h2>
            <p>Don't want to leave your house due to covid? Has life become to lonely and quiet for your taste? look no
                further as
                <strong>Animated VR Dating</strong> is all you need to get back on your feet and to meet those people that sparks the same
                interest
                as you
                do. Welcome to the world of virtual dating, Our site is the best out there when it comes to helping
                other
                that has
                interest in anime, cosplay, and manga. We have over 1 million matches a day. Come find out if your match
                is
                here!</p>
            <h3 class="text-center pt-4 pb-2">Hear what our user are saying about us.</h3>
            <div class="container border-top border-bottom pt-3 pb-1">
                <p class="font-italic">"I met a wonderful person on this website" - Kate</p>
                <p class="font-italic">"Never would I have ever thought this website would be legit. Until I
                    found
                    the love of my life, as we share
                    the same
                    interests" - Kianna</p>
                <p class="font-italic">"I've always cosplay alone but now I don't. After finding my fiancee" -
                    Ethan</p>
            </div>
            <div class="text-center pt-4">
                <a class="btn btn-primary rounded" href="personal">Create a Profile!</a>
            </div>
        </div>
        <div class="col">
            <img class="rounded dating_img" src="images/img3.jpg" alt="Virtual dating">
        </div>
    </div>
</div>

</body>
</html>