<!-- 328/dating/views/interest.html  -->

<!-- Interests Page -->
<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <!-- form start -->
    <form action="#" method="post" class="form-horizontal">
        <div class="row column_row mb-0">
            <h1 class="mt-4">Interests</h1>
        </div>
        <div class="row column_row border-top pt-4">
            <div class="col">
                <h6>In-door Interest</h6>
                <div class="container mb-4">
                    <div class="row mb-1">
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="tv" value="Tv">
                            <label class="form-check-label" for="tv">Tv</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="movies" value="Movies">
                            <label class="form-check-label" for="movies">Movies</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="cooking" value="Cooking">
                            <label class="form-check-label" for="cooking">Cooking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="board" value="Board Games">
                            <label class="form-check-label" for="board">Board Games</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="puzzles" value="Puzzles">
                            <label class="form-check-label" for="puzzles">Puzzles</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="reading" value="Reading">
                            <label class="form-check-label" for="reading">Reading</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="cards" value="Playing Cards">
                            <label class="form-check-label" for="cards">Playing Cards</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="in_door[]" id="games" value="Video Games">
                            <label class="form-check-label" for="games">Video Games</label>
                        </div>
                    </div>
                </div>
                <h6>Out-door Interest</h6>
                <div class="container">
                    <div class="row mb-1">
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="out_door[]" id="hiking" value="Hiking">
                            <label class="form-check-label" for="hiking">Hiking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="out_door[]" id="biking" value="Biking">
                            <label class="form-check-label" for="biking">Biking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="out_door[]" id="swimming" value="Swimming">
                            <label class="form-check-label" for="swimming">Swimming</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="out_door[]" id="collecting" value="Collecting">
                            <label class="form-check-label" for="collecting">Collecting</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline col-3 mr-0">
                            <input class="form-check-input" type="checkbox" name="out_door[]" id="walking" value="Walking">
                            <label class="form-check-label" for="walking">Walking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" name="out_door[]" id="climbing" value="Climbing">
                            <label class="form-check-label" for="climbing">Climbing</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column_row d-flex justify-content-end">
            <input type="submit" class="form-control btn btn-primary rounded" id="btn_size" value="Next >">
        </div>
    </form>
</div>

</body>
</html>