<!-- 328/dating/views/interest.html  -->

<!-- Interests Page -->
<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <!-- form start -->
    <form action="#" method="post" class="form-horizontal">
        <div class="row column_row mb-0">
            <h1 class="mt-4">Interests</h1>
        </div>
        <div class="row column_row border-top pt-4">
            <div class="col">
                <h6>In-door Interest</h6>
                <div class="container mb-4">
                    <div class="row mb-1">
                        <repeat group="{{ @indoor }}" value="{{ @indoor }}">
                            <div class="form-check form-check-inline col-2 mt-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="{{ @indoor }}"
                                           name="indoorInterests[]"
                                    <check if="{{ in_array(@indoor, @userIndoor) }}">
                                        checked = "checked"
                                    </check>
                                    >{{ @indoor }}
                                </label>
                            </div>
                        </repeat>
                        <check if="{{ isset(@errors['indoor']) }}">
                            <span class="err">{{ @errors['indoor'] }}</span>
                        </check>
                    </div>
                </div>
                <h6>Out-door Interest</h6>
                <div class="container">
                    <div class="row mb-1">
                        <repeat group="{{ @outdoor }}" value="{{ @outInterest }}">
                            <div class="form-check form-check-inline col-2 mt-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="{{ @outInterest }}"
                                           name="outdoorInterests[]"
                                    <check if="{{ in_array(@outInterest, @userOutdoor) }}">
                                        checked = "checked"
                                    </check>
                                    >{{ @outInterest }}
                                </label>
                            </div>
                        </repeat>
                        <check if="{{ isset(@errors['outdoor']) }}">
                            <span class="err">{{ @errors['outdoor'] }}</span>
                        </check>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column_row d-flex justify-content-end">
            <input type="submit" class="form-control btn btn-primary rounded" id="btn_size" value="Next >">
        </div>
    </form>
</div>

</body>
</html>