<!-- 328/dating/views/personal_info.html  -->

<!-- Personal Info Page -->
<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <!-- form start -->
    <form action="#" method="post" class="form-horizontal">
        <div class="row column_row mb-0">
            <h1 class="mt-4">Personal Information</h1>
        </div>
        <div class="row column_row border-top pt-4">
            <div class="col-7">
                <div class="form-group">
                    <label class="h6" for="fName">First Name</label>
                    <input type="text" class="form-control" name="fName" id="fName" value="{{ $userFirst }}">
                    <check if="{{ isset(@errors['fname']) }}">
                        <span class="err">{{ @errors['fname'] }}</span>
                    </check>
                </div>
                <div class="form-group">
                    <label class="h6" for="lName">Last Name</label>
                    <input type="text" class="form-control" name="lName" id="lName" value="{{ @userLast }}">
                    <check if="{{ isset(@errors['lname']) }}">
                        <span class="err">{{ @errors['lname'] }}</span>
                    </check>
                </div>
                <div class="form-group">
                    <label class="h6" for="age">Age</label>
                    <input type="text" class="form-control" name="age" id="age" value="{{ @userAge }}">
                    <check if="{{ isset(@errors['age']) }}">
                        <span class="err">{{ @errors['age'] }}</span>
                    </check>
                </div>
                <h6>Gender</h6>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="male"
                        <check if="{{ @userGender == 'male' }}">checked="checked"</check>
                        >Male
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="female"
                        <check if="{{ @userGender == 'female' }}">checked="checked"</check>
                        >Female
                    </label>
                </div>
                <div class="form-group mt-3">
                    <label class="h6" for="pNum">Phone Number</label>
                    <input type="text" class="form-control" id="pNum" name="pNum" value="{{ @userPhone }}">
                    <check if="{{ isset(@errors['pNum']) }}">
                        <span class="err">{{ @errors['pNum'] }}</span>
                    </check>
                </div>
                <h6>Premium Membership</h6>
                <div class="form-check form-group">
                    <input type="checkbox" class="form-check-input" name="premium" id="premium">
                    <label class="form-check-label" for="premium">Sign me up for a Premium Account!</label>
                </div>
            </div>
            <div class="col-5 mt-4">
                <div class="container border rounded pt-2 pb-2" id="bg_personal">
                    <p class="m-2 text-center"><strong>Note:</strong> All information entered is protected by our <a
                            href="#">private policy</a>. Profile Information can only be viewed
                        by others with your permission</p>
                </div>
            </div>
        </div>
        <div class="row column_row d-flex justify-content-end">
            <input type="submit" class="form-control btn btn-primary rounded" id="btn_size" value="Next >">
        </div>
    </form>
</div>

</body>
</html>