<!-- 328/dating/views/personal_info.html  -->

<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <form action="#" method="post" class="form-horizontal">
        <div class="row column_row mb-0">
            <h1 class="mt-4">Profile</h1>
        </div>
        <div class="row column_row border-top pt-4">
                <div class="col">
                        <div class="form-group">
                            <label class="h6" for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label class="h6" for="state">State</label>
                            <select class="form-control" id="state">
                                <option>Choose a State</option>
                                <option>Washington</option>
                                <option>California</option>
                                <option>New York</option>
                                <option>Florida</option>
                                <option>Texas</option>
                            </select>
                        </div>
                        <h6>Seeking</h6>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="seeking" id="gMale" value="Male">
                            <label class="form-check-label" for="gMale">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="seeking" id="gFemale" value="Female">
                            <label class="form-check-label" for="gFemale">Female</label>
                        </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="h6" for="bio">Biography</label>
                        <textarea class="form-control" id="bio" rows="5"></textarea>
                    </div>
                </div>
        </div>
        <div class="row column_row d-flex justify-content-end">
            <input type="submit" class="form-control btn btn-primary rounded" id="btn_size" value="Next >">
        </div>
    </form>
</div>

</body>
