<!-- 328/dating/views/profile.html  -->

<!-- Profile Page -->
<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <!-- form start -->
    <form action="#" method="post" class="form-horizontal">
        <div class="row column_row mb-0">
            <h1 class="mt-4">Profile</h1>
        </div>
        <div class="row column_row border-top pt-4">
            <div class="col">
                <div class="form-group">
                    <label class="h6" for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value="{{ @userEmail }}">
                    <check if="{{ isset(@errors['email']) }}">
                        <span class="err">{{ @errors['email'] }}</span>
                    </check>
                </div>
                <div class="form-group">
                    <label class="h6" for="state">State</label>
                    <select id="state" name="state" class="form-control">
                        <repeat group="{{ @states }}" value="{{ @state }}">
                            <option value="{{ @state }}"
                            <check if="{{ @state == @userState }}">
                                selected
                            </check>
                            >{{ @state }}</option>
                        </repeat>
                    </select>
                </div>
                <h6>Seeking</h6>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="seeking" value="male"
                        <check if="{{ @userSeeking == 'male' }}">checked="checked"</check>
                        >Male
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="seeking" value="female"
                        <check if="{{ @userSeeking == 'female' }}">checked="checked"</check>
                        >Female
                    </label>
                </div>
                <div class="form-group">
                <check if="{{ isset(@errors['seeking']) }}">
                    <span class="err">{{ @errors['seeking'] }}</span>
                </check>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="h6" for="bio">Biography</label>
                    <textarea class="form-control" id="bio" rows="5" name="bio">{{ @userBio }}</textarea>
                </div>
            </div>
        </div>
        <div class="row column_row d-flex justify-content-end">
            <input type="submit" class="form-control btn btn-primary rounded" id="btn_size" value="Next >">
        </div>
    </form>
</div>

</body>
</html>