<!-- 328/dating/views/summary.html  -->

<!-- Summary Page -->
<include href="views/header.html"></include>
<body>
<include href="views/navbar.html"></include>
<div class="container rounded border mt-4">
    <div class="row column_row pt-4">
        <div class="col">
            <p>Name: {{ @SESSION.user->getFname() }} {{ @SESSION.user->getLname() }}</p>
            <p>Gender: {{ @SESSION.user->getGender() }}</p>
            <p>Age: {{ @SESSION.user->getAge() }}</p>
            <p>Phone: {{ @SESSION.user->getPhone() }}</p>
            <p>Email: {{ @SESSION.user->getEmail() }}</p>
            <p>State: {{ @SESSION.user->getState() }}</p>
            <p>Seeking: {{ @SESSION.user->getSeeking() }}</p>
            <check if="{{ @SESSION.user instanceof PremiumMember }}">
                <p>Interests: {{ implode(", ", @SESSION.user->getInDoorInterests()) }},
                    {{ implode(", ", @SESSION.user->getOutDoorInterests()) }}</p>
            </check>
        </div>
        <div class="col">
            <div class="container">
                <img class="rounded profile_img" src="images/profile_icon2.png" alt="Virtual dating">
                <h4>Biography</h4>
                <p> {{ @SESSION.user->getBio() }}</p>
            </div>
        </div>
    </div>
    <div class="row column_row d-flex justify-content-center">
        <a class="btn btn-primary rounded" href="">Contact Me!</a>
    </div>
</div>

</body>
</html>